* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgba(89, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 49%, rgba(89, 0, 0, 1) 100%);
  font-family: "Roboto", sans-serif;
}

header img {
  box-shadow: 5px 9px 29px -4px rgba(0, 0, 0, 0.81);
  border-radius: 30px 30px;
}

#estados {
  width: 90%;
  margin: auto;
}

#enviar {
  width: 100px;
  border-radius: 50px 50px;
  font-weight: bold;
}
footer .footer {
  font-weight: bold;
  font-size: 1.5em;
}

@media (max-width: 576px) {
  header img {
    width: 80%;
  }

  h1 {
    font-size: 1.7em;
  }

  #heroImg {
    height: 250px;
    width: auto;
  }

  #estados {
    width: 100%;
  }
}
